name: Custom build
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Tag for the release (e.g., v1.0.0)'
        required: true
        default: 'v2.1.1'

jobs:
  build:
    # Use the native ARM64 runner provided by GitHub
    runs-on: ubuntu-latest  # These are always available
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3 # This allows x86 to "speak" ARM64
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Build ARM64 Image
        run: |
          docker buildx build --platform linux/arm64 \
            -t my-image-name:latest \
            --output type=docker,dest=./my-image-arm64.tar .    
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'workflow_dispatch'
        with:
          tag_name: ${{ github.event.inputs.release_tag }}
          files: ./my-image-arm64.tar
    env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
